@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.NCLHDSAR.DataFlow.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.NCLHDSAR.DataFlowGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>