@import "site.mixins.less";


.s-NCLHDSAR-SystemMasterDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-NCLHDSAR-RequestTypeDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-NCLHDSAR-RequestDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}

.s-NCLHDSAR-RequestAttributesDialog {
    > .size {
        width: 650px;
    }

    .caption {
        width: 150px;
    }
}
