@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SSISConfig.INTConfigBase.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.SSISConfig.INTConfigBaseGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>