{
    "RootNamespace": "DAP",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=DAP; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "NCLH_DSAR",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=NCLH_DSAR; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "PCH_ODS",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_ODS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Outbound_AgentLocation",
                    "Identifier": "OutboundAgentLocation",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Agent",
                    "Identifier": "OutboundAgent",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_NVS_Users",
                    "Identifier": "OutboundNvsUsers",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Company",
                    "Identifier": "OutboundCompany",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_CommissionPeriod",
                    "Identifier": "OutboundCommissionPeriod",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PCH_ODS_NVS",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_ODS_NVS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "nvs.Users",
                    "Identifier": "Users",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\DAP\\DAP.Web\\DAP.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": false,
    "GenerateCustom": false
}