{
    "RootNamespace": "DAP",
    "Connections": [
        {
            "Key": "Config",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=Config; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.SSIS_Config",
                    "Identifier": "SsisConfig",
                    "Module": "SSISConfig",
                    "ConnectionKey": "Config",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SSIS_Config_base",
                    "Identifier": "SsisConfigBase",
                    "Module": "SSISConfig",
                    "ConnectionKey": "Config",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=DAP; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "DW_Support",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=DW_Support; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.FIN_REPORT_PUBLISHING_SUPP",
                    "Identifier": "FinReportPublishingSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.DISTRICT_MASTER_SUPP",
                    "Identifier": "DistrictMasterSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SAILING_MASTER_SUPP",
                    "Identifier": "SailingMasterSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.GUEST_PREVENT_DEPARTURE",
                    "Identifier": "GuestPreventDeparture",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PACKAGE_TYPE_CODE_SUPP",
                    "Identifier": "PackageTypeCodeSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Brand",
                    "Identifier": "Brand",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Call_Type",
                    "Identifier": "CallType",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Department",
                    "Identifier": "Department",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Group",
                    "Identifier": "Group",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Skill_Split_Mapping",
                    "Identifier": "SkillSplitMapping",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Status",
                    "Identifier": "Status",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Support_Channel",
                    "Identifier": "SupportChannel",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "avaya.Region",
                    "Identifier": "Region",
                    "Module": "Avaya",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SURVEY_FILTER_EXCLUSION_SUPP",
                    "Identifier": "SurveyFilterExclusionSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TBL_STRATEGIC_PRICE_CONTROL",
                    "Identifier": "TblStrategicPriceControl",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRODUCT_CODE_SUPP",
                    "Identifier": "ProductCodeSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SL_PRODUCT_CODE_SUPP",
                    "Identifier": "SlProductCodeSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vw_GetSEASalesRepID",
                    "Identifier": "VwGetSeaSalesRepId",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PORT_SUBSTITUTION_SUPP",
                    "Identifier": "PortSubstitutionSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vw_GetSEAPortCode",
                    "Identifier": "VwGetSeaPortCode",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.INVOICE_ITEM_TYPE_MASTER_SUPP",
                    "Identifier": "InvoiceItemTypeMasterSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.master",
                    "Identifier": "Master",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Detail",
                    "Identifier": "Detail",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MasterComponent",
                    "Identifier": "MasterComponent",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.invoiceItemSource",
                    "Identifier": "InvoiceItemSource",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.invoiceItemSubType",
                    "Identifier": "InvoiceItemSubType",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.invoiceItemSubType2",
                    "Identifier": "InvoiceItemSubType2",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.invoiceItemSubType3",
                    "Identifier": "InvoiceItemSubType3",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.invoiceItemType",
                    "Identifier": "InvoiceItemType",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AMENITY_TYPES_SUPP",
                    "Identifier": "AmenityTypesSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AMENITIES_SUPP",
                    "Identifier": "AmenitiesSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AMENITY_DETAILS_SUPP",
                    "Identifier": "AmenityDetailsSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Amenity_Category",
                    "Identifier": "AmenityCategory",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Amenity_Office",
                    "Identifier": "AmenityOffice",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ImportErrorLog",
                    "Identifier": "ImportErrorLog",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.INVOICE_ITEM_TYPE_SUPP",
                    "Identifier": "InvoiceItemTypeSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Ship",
                    "Identifier": "Ship",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AgencySnapshotRequest",
                    "Identifier": "AgencySnapshotRequest",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ROLLUP_PRODUCT_CODES_SUPP",
                    "Identifier": "RollupProductCodesSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MINIBAR_SETUP_SUPP",
                    "Identifier": "MinibarSetupSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.FULL_SHIP_CHARTERS_SUPP",
                    "Identifier": "FullShipChartersSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CURRENCY_EXCHANGE_RATE_SUPP",
                    "Identifier": "CurrencyExchangeRateSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CATEGORY_MASTER_SUPP",
                    "Identifier": "CategoryMasterSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CASINO_SLOT_MASTER_DESC_SUPP",
                    "Identifier": "CasinoSlotMasterDescSupp",
                    "Module": "DWSupport",
                    "ConnectionKey": "DW_Support",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "INTConfig",
            "ConnectionString": "Data Source=HDQDDWINFDB01V; Initial Catalog=Config; Persist Security Info=False;User ID=SA-DAP;Password=Gd!2l0Pb!frC8xWjk",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "NCLH_DSAR",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=NCLH_DSAR; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Assignee",
                    "Identifier": "Assignee",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RequestStatus",
                    "Identifier": "RequestStatus",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SWRequest",
                    "Identifier": "SwRequest",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SWRequest_Attributes",
                    "Identifier": "SwRequestAttributes",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "etl.Data_Flow",
                    "Identifier": "DataFlow",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MarketingRequest",
                    "Identifier": "MarketingRequest",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MarketingRequestBrands",
                    "Identifier": "MarketingRequestBrands",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MarketingRequestChannels",
                    "Identifier": "MarketingRequestChannels",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MarketingRequestSources",
                    "Identifier": "MarketingRequestSources",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MarketingRequestTypes",
                    "Identifier": "MarketingRequestTypes",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MarketingRequestOptOutStatus",
                    "Identifier": "MarketingRequestOptOutStatus",
                    "Module": "NCLHDSAR",
                    "ConnectionKey": "NCLH_DSAR",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "NCLH_ODS_MICROS",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=NCLH_ODS_MICROS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "etl.Data_Flow",
                    "Identifier": "DataFlow",
                    "Module": "NCLHODSMICROS",
                    "ConnectionKey": "NCLH_ODS_MICROS",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "NCLH_ODS_SPEND_VIS",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=NCLH_SAP_ARIBA; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "amos.amoslevel",
                    "Identifier": "Amoslevel",
                    "Module": "NCLHODSSPENDVIS",
                    "ConnectionKey": "NCLH_ODS_SPEND_VIS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "etl.Data_Flow",
                    "Identifier": "DataFlow",
                    "Module": "NCLHODSSPENDVIS",
                    "ConnectionKey": "NCLH_ODS_SPEND_VIS",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PCH_DW",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_DW; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Outbound_monthly_rpt_archive_override",
                    "Identifier": "OutboundMonthlyRptArchiveOverride",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vw_OutboundMonthlyRptArchiveOverride",
                    "Identifier": "VwOutboundMonthlyRptArchiveOverride",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.dim_invoice",
                    "Identifier": "DimInvoice",
                    "Module": "PCHDW",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vw_SQLJobList",
                    "Identifier": "VwSqlJobList",
                    "Module": "PCHDW",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ScheduledJob",
                    "Identifier": "ScheduledJob",
                    "Module": "PCHDW",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.dim_cruise",
                    "Identifier": "DimCruise",
                    "Module": "PCHDW",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.revenue_adhoc_management",
                    "Identifier": "RevenueAdhocManagement",
                    "Module": "PCHDW",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.dim_currency",
                    "Identifier": "DimCurrency",
                    "Module": "PCHDW",
                    "ConnectionKey": "PCH_DW",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PCH_ODS",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_ODS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Outbound_AgentLocation",
                    "Identifier": "OutboundAgentLocation",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Agent",
                    "Identifier": "OutboundAgent",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_NVS_Users",
                    "Identifier": "OutboundNvsUsers",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Company",
                    "Identifier": "OutboundCompany",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_CommissionPeriod",
                    "Identifier": "OutboundCommissionPeriod",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.onboard_sales_user_id",
                    "Identifier": "OnboardSalesUserId",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Commission_Hist",
                    "Identifier": "OutboundCommissionHist",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Commission_Hist_au",
                    "Identifier": "OutboundCommissionHistAu",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Outbound_Commission_Hist_br",
                    "Identifier": "OutboundCommissionHistBr",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.outbound_commission_bk_goal",
                    "Identifier": "OutboundCommissionBkGoal",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UAR_UNKNOWN_REVIEWER",
                    "Identifier": "UarUnknownReviewer",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UAR_Sr_Dir_above_list",
                    "Identifier": "UarSrDirAboveList",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UAR_employee_directreports",
                    "Identifier": "UarEmployeeDirectreports",
                    "Module": "PCHODS",
                    "ConnectionKey": "PCH_ODS",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PCH_ODS_FIDELIO",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_ODS_FIDELIO; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "etl.Data_Flow",
                    "Identifier": "DataFlow",
                    "Module": "SSISConfig",
                    "ConnectionKey": "PCH_ODS_FIDELIO",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "fms.gp_interface_log",
                    "Identifier": "GpInterfaceLog",
                    "Module": "SSISConfig",
                    "ConnectionKey": "PCH_ODS_FIDELIO",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PCH_ODS_NVS",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_ODS_NVS; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "nvs.Users",
                    "Identifier": "Users",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_intl_dateline_cruises",
                    "Identifier": "NtrIntlDatelineCruises",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_components",
                    "Identifier": "NtrComponents",
                    "Module": "FINANCE",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_rpt_comment",
                    "Identifier": "NtrRptComment",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_fcst",
                    "Identifier": "NtrFcst",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_budget_by_channel",
                    "Identifier": "NtrBudgetByChannel",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_budget",
                    "Identifier": "NtrBudget",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ntr_past_months_actual",
                    "Identifier": "NtrPastMonthsActual",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dap.supp_key_acct_target",
                    "Identifier": "SuppKeyAcctTarget",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dap.GSA_distribution_list",
                    "Identifier": "GsaDistributionList",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "nvs.Agency",
                    "Identifier": "Agency",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dap.consortium_exception_list",
                    "Identifier": "ConsortiumExceptionList",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dap.Item_Type",
                    "Identifier": "ItemType",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.transfer_estimate_oci_amt",
                    "Identifier": "TransferEstimateOciAmt",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "nvs.Ships",
                    "Identifier": "Ships",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dap.GetCruiseSegment",
                    "Identifier": "GetCruiseSegment",
                    "Module": "PCHODSNVS",
                    "ConnectionKey": "PCH_ODS_NVS",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PCH_ODS_STG",
            "ConnectionString": "Data Source=dwhsqld; Initial Catalog=PCH_ODS_STG; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "etl.Data_Flow",
                    "Identifier": "MicrosDataFlow",
                    "Module": "SSISConfig",
                    "ConnectionKey": "PCH_ODS_STG",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "PSConfig",
            "ConnectionString": "Data Source=HDQDDWINFDB01V; Initial Catalog=PSInterface; Persist Security Info=False;User ID=SA-DAP;Password=Gd!2l0Pb!frC8xWjk",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Air_PSupgrade_testing",
                    "Identifier": "AirPSupgradeTesting",
                    "Module": "PSConfig",
                    "ConnectionKey": "PSConfig",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PSInterface_Config",
                    "Identifier": "PsInterfaceConfig",
                    "Module": "SSISConfig",
                    "ConnectionKey": "PSConfig",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.NCLH_SHIP",
                    "Identifier": "NclhShip",
                    "Module": "SSISConfig",
                    "ConnectionKey": "PSConfig",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\DAP\\DAP.Web\\DAP.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": false,
    "GenerateCustom": true
}