@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PCHDW.DimInvoice.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.PCHDW.DimInvoiceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>