@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PCHODS.OutboundCommissionPeriod.EntityPlural");
}

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
        Do not close the period prior to the 2nd day of the month
    </p>

</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.PCHODS.OutboundCommissionPeriodGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>