@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DWSupport.StlyDates.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.DWSupport.StlyDatesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>