@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Avaya.SkillSplitMapping.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.Avaya.SkillSplitMappingGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>