@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DWSupport.CurrencyExchangeRateSupp.EntityPlural");
}

<div id="GridDiv"><p style="text-align: right;"></div>


<script type="text/javascript">
    jQuery(function () {
        new DAP.DWSupport.CurrencyExchangeRateSuppGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>