@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PCHODSNVS.RevenueAdhocManagement.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.PCHODSNVS.RevenueAdhocManagementGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>