@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PCHDW.DimCruise.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.PCHDW.DimCruiseGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>