@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.NCLHDSAR.MarketingRequest.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DAP.NCLHDSAR.MarketingRequestGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>